#-------------------------------------------------------------------------------
# Application settings
#-------------------------------------------------------------------------------
APP_NAME='App name'
APP_DEBUG=false
APP_URL='http://localhost'
APP_KEY='APP_KEY'
APP_PORT=9000

#-------------------------------------------------------------------------------
# Database settings
#-------------------------------------------------------------------------------
DB_CONNECTION="postgres"
DB_HOST="localhost"
DB_DATABASE="marrconi"
DB_USERNAME="voice123"
DB_PASSWORD="voice123"
